.maincontainer {
    /* border: 2px solid brown; */
    background-color: gray !important;
    height: auto;
}

.full {
    background-color: gray;
}

.container {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 2px solid red; */
}

.leftdiv {
    margin-right: 50px;
    background-color: white;
    width: 40%;
    border: 1px solid black;
    padding: 30px;
    margin: 25px 25px;
}

.rightdiv {
    background-color: white;
    border: 1px solid black;
    width: 40%;
    padding: 30px;
    margin: 25px 25px;
}

.b1 {
    margin-left: 52px;
}

.b2 {
    margin-left: 54px;
}

#File {
    width: 200px;
    margin: 5px 50px;
}

#encoding {
    width: 200px;
}

#delimiter {
    width: 200px;
    margin: 5px 50px;
}

#Header {
    margin: 5px 30px;
}

.bottom {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    margin: 20px 25px;
    padding: 30px;
    color: black;
    /* justify-content: center; */
    background-color: white;
    width: 92%;
    height: 250px;
}

.bt1 {
    margin-left: 70px;
}

.ad {
    display: flex;
    flex-direction: row;
}

.next_button {
    width: 70px;
    height: 35px;
    margin-left: 90%;
    background-color: rgb(53, 153, 6);
}

.cancel_button {
    width: 70px;
    height: 35px;
    color: black;
    background-color: white;
    float: right;
}

.bottom_buttons {
    padding-right: 20px;
    background-color: gray;
}

#leftValues,
#rightValues {
    height: 100px;
}